
/*******Head*******/		
body{
	position: relative;
	margin:0;
	padding:0;
}
.header{
	position: relative;
	height: 70px	;
	width: 100%;
}

.header_el{
	position:absolute;
	top:0;
	/*border: 1px solid black;*/
}

#signin{
	right:30px;
	top:15px;
	width:67.344px;
	height:28px;
	background-color: #4285f4;
	border: 1px solid #4285f4;
	text-align: center;
	border-radius: 3px;
}

#sibox{
	line-height: 28px;
	color:white;
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
}

a{
	text-decoration: none;
}

#grid{
	right:117px;
	top:18px;
}

#gridbox{
	opacity: 0.5;
}

#grid img:hover{
	opacity: 1;
	cursor:default;
}

#signin a:hover{
	cursor:default;
}

.gmlnimg{
	color: black;
	font-family: arial,sans-serif;
	font-size: 13px;
	opacity: 0.75;
}

#imgs a:hover{
	text-decoration: underline;
}

#gmail a:hover{
	text-decoration: underline;
}

#imgs{
		top:20px;
		right:160px;
}

#gmail{
		top:20px;
		right:218px;
}

/*******Body*******/

#logo img{
	position: absolute;
	left:0;
	right:0;
	margin: auto;
	top:198px;
}

input[type=text]{
	position: absolute;
	width: 585px;
	height: 34px;
	left:0;
	right:0;
	margin: auto;
	top:320px;
	opacity:0.5;
}

input[type=text]:hover{
	opacity:1;
}

input[type=text]:focus{
	opacity:1;
	outline: none;
	border: 1px solid #4285f4;
}

button[type=submit]{
	position: absolute;
	top:393px;
	left:510px;
	width: 125.750px;
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	font-weight: bold;
	font-family: arial,sans-serif;
	cursor: default;
	outline:none;
	color: #757575;
}

button[type=submit]:hover{
	border: 1px solid #C9C7C7;
	color: black;
}

#lucky button[type=submit]{
		top:393px;
		left:644px;
		width:142.578px;
}

#mic img{
	position: absolute;
	top:326px;
	right:360px;
    height: 25px;
    width: 25px;
}